<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archivos en {{ folder_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="container">
        <h1>Archivos en la Carpeta "{{ folder_name }}"</h1>

        {% if files %}
            <ul>
                {% for file in files %}
                    <li>
                        <a href="{{ url_for('static', filename='uploads/' + folder_name + '/' + file) }}" target="_blank">{{ file }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay archivos en esta carpeta.</p>
        {% endif %}

        <!-- Botón para regresar -->
        <a href="{{ url_for('upload') }}" class="button">Regresar</a>
    </div>

</body>
</html>
